<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<connectionStrings>
  <add name="DefaultConnection" 
       connectionString="Server=localhost,1401;Database=Cod3rsGrowth;User Id=sa;Password=Justice1234;" 
       providerName="System.Data.SqlClient" />
</connectionStrings>
</configuration>